@using Prog7311.Models
@using Prog7311.Controllers
@model Farmers
@{
    ViewBag.Title = "AddFarmer";
}

<h2>Add New Farmer Account</h2>

@using (Html.BeginForm("AddFarmer", "Farmer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new Farmer account.</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Product)
        @Html.TextBoxFor(model => model.Product, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Product)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductType)
        @Html.TextBoxFor(model => model.ProductType, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductType)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="AddFarmer" />
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
 