@using Prog7311.Models
@model Farmers
@{
    ViewBag.Title = "AddProduct";
}
<h2>Add Product</h2>

@using (Html.BeginForm("AddProduct", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    <div class="form-group">
        @Html.LabelFor(model => model.Product)
        @Html.TextBoxFor(model => model.Product, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Product)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProductType)
        @Html.TextBoxFor(model => model.ProductType, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProductType)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>


    <button type="submit" class="btn btn-primary">Add Farmer</button>
}
